[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lifecontingencies"]
	path = lifecontingencies
	url = https://github.com/spedygiorgio/lifecontingencies
[submodule "markovchain"]
	path = markovchain
	url = https://github.com/spedygiorgio/markovchain
[submodule "mbbefd"]
	path = mbbefd
	url = https://github.com/spedygiorgio/mbbefd
