[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lifecontingencies"]
	path = lifecontingencies
	url = https://github.com/spedygiorgio/lifecontingencies
	shallow = true
	registered = true
